@import "variables";

.wrap-img-squares {
  position: relative;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}

.square {
  position: absolute;
  z-index: -1;

  &.ltop {
      top: -25px;
      left: -25px;
  }

  &.rtop {
      top: -25px;
      right: -25px;
  }

  &.rbot {
      bottom: -25px;
      right: -25px;
  }

  &.lbot {
      bottom: -25px;
      left: -25px;
  }

  &.top {
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.small {
    height: 25%;
    width: 25%;
  }

  &.medium {
    height: 40%;
    width: 40%;
  }

  &.large {
    height: 80%;
    width: 80%;
  }

  &.red {
    background-color: $red;
  }

  &.blue {
    background-color: $blue;
  }

  &.green {
    background-color: $green;
  }

}
