@import "variables";

.pixiwayview{
  .image-0 {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: $spacing*3;
    margin-top: 40vh;
    .wrap-img-squares {
      position: relative;
      display: inline-block;
      width: 30vw;
      height: auto;
      animation-delay:0.4s;
    }
  }
  .image-1 {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: $spacing*3;
    margin-top: $spacing;
    .wrap-img-squares {
      position: relative;
      display: inline-block;
      width: 45vw;
      height: auto;
    }
  }
}
